# 1 - Filtro dos dados dos arquivos

Para que a análise seja mais eficiente, é necessário passar um certo filtro nos dados. O objetivo é, a partir dos dois arquivos de entrada (dados educacionais e dados populacionais), gerar apenas um arquivo que contenha apenas a informação necessária. Os dados das matrículas na rede municipal de educação vieram [daqui](http://dados.prefeitura.sp.gov.br/dataset/demanda-por-vagas-educacao-infantil-e-eja). Já os populacionais vieram do site da [SEADE](http://produtos.seade.gov.br/produtos/projpop/), a partir de uma tabela nova.

In [1]:
import pandas as pd

dados_educ = pd.read_csv('dados/evolucaodemanda.csv', sep = ';')
dados_pop = pd.read_csv('dados/populacao.csv', sep = ';', encoding = 'ISO-8859-1')

Para os dados educacionais, temos que filtrar apenas as colunas que necessárias. Além disso, é preciso limpar os dados, pois algumas linhas possuem os números com um ponto (.) para indicar o milhar. Por conveniência, o mês e o ano de referência serão deixados em colunas separadas.

In [2]:
for i in dados_educ.index:
    if not dados_educ.at[i, 'MAT_CRECHE'].is_integer():
        dados_educ.at[i, 'MAT_CRECHE'] = round(dados_educ.at[i, 'MAT_CRECHE']*1000)
    if not dados_educ.at[i, 'DEM_CRECHE'].is_integer():
        dados_educ.at[i, 'DEM_CRECHE'] = round(dados_educ.at[i, 'DEM_CRECHE']*1000)
    dados_educ.at[i, 'MES'] = dados_educ.at[i, 'MES_ANO_REF'][:3]
    dados_educ.at[i, 'ANO'] = int(dados_educ.at[i, 'MES_ANO_REF'][4:]) + 2000
       
dados_educ = dados_educ[['DISTRITO', 'MAT_CRECHE', 'DEM_CRECHE', 'MES', 'ANO', 'MES_ANO_REF']]

Para que os dados populacionais fiquem mais próximos aos educacionais, vamos alterar o nome do distrito, deixando-o sem acentos e com caixa alta. Como os dados da população estão em números inteiros, não precisaremos remover os eventuais pontos (.) que indicam o milhar. Além disso, as colunas que selecionaremos terão os mesmos nomes nas nossas duas bases de dados (educação e população).

In [3]:
dados_pop = dados_pop[['Localidades', 'Períodos', 'População de 0 a 3 Anos']]
dados_pop.columns = ['DISTRITO_F', 'ANO', 'TOTAL']
    
dados_pop['DISTRITO'] = dados_pop['DISTRITO_F'].str.normalize('NFKD')
dados_pop['DISTRITO'] = dados_pop['DISTRITO'].str.encode('ascii', errors='ignore').str.decode('utf-8')
dados_pop['DISTRITO'] = dados_pop['DISTRITO'].str.upper()

Precisamos juntar os dados, para que a análise seja feita de maneira mais eficiente. Teremos um dicionário com os seguintes valores:

- Nome do distrito (em caixa alta e sem acentos);
- Número de matriculas em creches;
- Demanda de vagas em creches;
- Mês e ano de referência;
- População do distrito na faixa etária 00 a 03 anos.

In [4]:
dados_educ_pop = dados_educ.merge(dados_pop, on = ['DISTRITO', 'ANO'])

Vamos pegar também a sigla dos distritos, para uso posterior.

In [5]:
import geopandas as gpd

distritos = gpd.read_file('dados/LAYER_DISTRITO/DEINFO_DISTRITO.shp')

for i in distritos.index:
    nome = distritos.at[i, 'NOME_DIST'].split(' ')
    if 'JD' in nome:
        nome[0] = 'JARDIM'
    if 'CID' in nome:
        nome[0] = 'CIDADE'
    distritos.at[i, 'NOME_DIST'] = ' '.join(nome)

dados_educ_pop = dados_educ_pop.merge(distritos, left_on = 'DISTRITO', right_on = 'NOME_DIST')
dados_educ_pop = dados_educ_pop[['DISTRITO', 'MAT_CRECHE', 'DEM_CRECHE', 'MES', 'ANO', 'MES_ANO_REF', 'DISTRITO_F', 'TOTAL', 'SIGLA_DIST']]

Tal dicionário será salvo num arquivo.

In [6]:
dados_educ_pop
dados_educ_pop.to_csv('dados/dados_educ_pop.csv', encoding='utf-8', index=False)

In [12]:
dados_educ_pop[dados_educ_pop['DISTRITO'] == 'PENHA']

,DISTRITO,MAT_CRECHE,DEM_CRECHE,MES,ANO,MES_ANO_REF,DISTRITO_F,TOTAL,SIGLA_DIST
2773,PENHA,447.0,623.0,jun,2006.0,jun-06,Penha,5852,PEN
2774,PENHA,464.0,769.0,set,2006.0,set-06,Penha,5852,PEN
2775,PENHA,468.0,995.0,dez,2006.0,dez-06,Penha,5852,PEN
2776,PENHA,551.0,750.0,mar,2007.0,mar-07,Penha,5723,PEN
2777,PENHA,729.0,614.0,jun,2007.0,jun-07,Penha,5723,PEN
2778,PENHA,847.0,839.0,set,2007.0,set-07,Penha,5723,PEN
2779,PENHA,854.0,386.0,dez,2007.0,dez-07,Penha,5723,PEN
2780,PENHA,1020.0,539.0,mar,2008.0,mar-08,Penha,5597,PEN
2781,PENHA,1089.0,612.0,jun,2008.0,jun-08,Penha,5597,PEN
2782,PENHA,1090.0,822.0,set,2008.0,set-08,Penha,5597,PEN
2783,PENHA,1106.0,275.0,dez,2008.0,dez-08,Penha,5597,PEN
2784,PENHA,1193.0,390.0,mar,2009.0,mar-09,Penha,5468,PEN
2785,PENHA,1255.0,515.0,jun,2009.0,jun-09,Penha,5468,PEN
2786,PENHA,1276.0,531.0,set,2009.0,set-09,Penha,5468,PEN
2787,PENHA,1282.0,366.0,dez,2009.0,dez-09,Penha,5468,PEN
2788,PENHA,1295.0,514.0,mar,2010.0,mar-10,Penha,5345,PEN
2789,PENHA,1352.0,623.0,jun,2010.0,jun-10,Penha,5345,PEN
2790,PENHA,1351.0,788.0,set,2010.0,set-10,Penha,5345,PEN
2791,PENHA,1317.0,659.0,dez,2010.0,dez-10,Penha,5345,PEN
2792,PENHA,1690.0,872.0,mar,2011.0,mar-11,Penha,5557,PEN
2793,PENHA,1794.0,897.0,jun,2011.0,jun-11,Penha,5557,PEN
2794,PENHA,1790.0,1159.0,set,2011.0,set-11,Penha,5557,PEN
2795,PENHA,1840.0,628.0,dez,2011.0,dez-11,Penha,5557,PEN
2796,PENHA,2016.0,708.0,mar,2012.0,mar-12,Penha,5770,PEN
2797,PENHA,2023.0,809.0,jun,2012.0,jun-12,Penha,5770,PEN
2798,PENHA,2018.0,1047.0,set,2012.0,set-12,Penha,5770,PEN
2799,PENHA,2050.0,305.0,dez,2012.0,dez-12,Penha,5770,PEN
2800,PENHA,1965.0,442.0,mar,2013.0,mar-13,Penha,5991,PEN
2801,PENHA,1999.0,611.0,jun,2013.0,jun-13,Penha,5991,PEN
2802,PENHA,2002.0,836.0,set,2013.0,set-13,Penha,5991,PEN
2803,PENHA,1989.0,438.0,dez,2013.0,dez-13,Penha,5991,PEN
2804,PENHA,1992.0,560.0,mar,2014.0,mar-14,Penha,6216,PEN
2805,PENHA,2069.0,671.0,jun,2014.0,jun-14,Penha,6216,PEN
2806,PENHA,2070.0,973.0,set,2014.0,set-14,Penha,6216,PEN
2807,PENHA,2119.0,405.0,dez,2014.0,dez-14,Penha,6216,PEN
2808,PENHA,2333.0,467.0,mar,2015.0,mar-15,Penha,6441,PEN
2809,PENHA,2452.0,685.0,jun,2015.0,jun-15,Penha,6441,PEN
2810,PENHA,2462.0,981.0,set,2015.0,set-15,Penha,6441,PEN
2811,PENHA,2519.0,437.0,dez,2015.0,dez-15,Penha,6441,PEN
2812,PENHA,2799.0,348.0,mar,2016.0,mar-16,Penha,6264,PEN
2813,PENHA,2968.0,407.0,jun,2016.0,jun-16,Penha,6264,PEN
2814,PENHA,2887.0,684.0,set,2016.0,set-16,Penha,6264,PEN
2815,PENHA,2896.0,213.0,dez,2016.0,dez-16,Penha,6264,PEN
2816,PENHA,2970.0,371.0,mar,2017.0,mar-17,Penha,6084,PEN
2817,PENHA,2971.0,432.0,jun,2017.0,jun-17,Penha,6084,PEN
2818,PENHA,2968.0,669.0,set,2017.0,set-17,Penha,6084,PEN
2819,PENHA,3022.0,55.0,dez,2017.0,dez-17,Penha,6084,PEN